.product::before {
  content: '';
  border-color: #765AEF;
  border-width: 5px;
  border-style: solid;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 10px;
  transform-origin: center;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}