.sweepInFromLeft {
  -webkit-transform: perspective(0px) translateZ(0);
  transform: perspective(0px) translateZ(0);
}
.sweepInFromLeft:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #666666;
  transition-property: all;
  transition-duration: 0.7s;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.sweepInFromLeft:after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #B3CA21;
  width: 1px;
  height: 10%;
  animation-name: movement;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes movement {
  0% { top: 0% }
  50% { top: 90% }
  100% { top: 0% }
}
.sweepOutToLeft {
  -webkit-transform: perspective(0px) translateZ(0);
  transform: perspective(0px) translateZ(0);
}
.sweepOutToLeft:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #666666;
  transition-property: all;
  transition-duration: 0.7s;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

