.fastAnimation {
  -webkit-animation-duration: 0s;
  -moz-animation-duration: 0s;
  -ms-animation-duration: 0s;
  -o-animation-duration: 0s;
  animation-duration: 0s;
  position: absolute;
  height: 100%;
  opacity: 0;
}
.normalAnimation {
  position: absolute;
  height: 100%;
  opacity: 1;
}