$brand-font-family: 'Caviar', Arial, sans-serif;
$brand-large-number-font-family: 'Caviar', Arial, sans-serif;
$brand-color: #B3CA21;
$brand-color-lighter: desaturate(lighten($brand-color, 55%), 40%);
$brand-neutral-colors: (#424242, #646464, #868686, #A9A9A9, #FFFFFF) !default;
$brand-accent-colors: (#B3CA21, #0098b0, #61A95A, #765AEF, #B0228C, #F64740, #F4989C, #2A324B) !default;
$brand-status-colors: (
  critical: #F04953,
  error: #F04953,
  warning: #FFD144,
  ok: #93A61C,
  unknown: #0098b0,
  disabled: #CCCCCC
);
$brand-link-color: inherit;
$link-hover-color: #000;
$brand-link-text-decoration: underline;
$brand-grey-colors: (#000001, #333333, #3B3B3B, #434343, #666666);
$brand-graph-colors: $brand-neutral-colors;

$hpe-fonts-path: './font' !default;

@font-face {
  font-family: 'Caviar';
  src: url('#{$hpe-fonts-path}/caviar-dreams.ttf') format('ttf');
	src: url('#{$hpe-fonts-path}/caviar-dreams.eot');
	src: local('☺'),
    url('#{$hpe-fonts-path}/caviar-dreams.woff') format('woff'), 
    url('#{$hpe-fonts-path}/caviar-dreams.ttf') format('truetype'), 
    url('#{$hpe-fonts-path}/caviar-dreams.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Caviar';
  src: url('#{$hpe-fonts-path}/caviar-dreams.ttf') format('ttf');
	src: url('#{$hpe-fonts-path}/caviar-dreams.eot');
	src: local('☺'),
    url('#{$hpe-fonts-path}/caviar-dreams.woff') format('woff'), 
    url('#{$hpe-fonts-path}/caviar-dreams.ttf') format('truetype'), 
    url('#{$hpe-fonts-path}/caviar-dreams.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
  font-family: 'Caviar';
  src: url('#{$hpe-fonts-path}/caviar-dreams-bold.ttf') format('ttf');
	src: url('#{$hpe-fonts-path}/caviar-dreams-bold.eot');
	src: local('☺'),
    url('#{$hpe-fonts-path}/caviar-dreams-bold.woff') format('woff'), 
    url('#{$hpe-fonts-path}/caviar-dreams-bold.ttf') format('truetype'), 
    url('#{$hpe-fonts-path}/caviar-dreams-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
  font-family: 'Caviar';
  src: url('#{$hpe-fonts-path}/caviar-dreams-bold.ttf') format('ttf');
	src: url('#{$hpe-fonts-path}/caviar-dreams-bold.eot');
	src: local('☺'),
    url('#{$hpe-fonts-path}/caviar-dreams-bold.woff') format('woff'), 
    url('#{$hpe-fonts-path}/caviar-dreams-bold.ttf') format('truetype'), 
    url('#{$hpe-fonts-path}/caviar-dreams-bold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
  font-family: 'Calculator';
  src: url('#{$hpe-fonts-path}/calculator.ttf') format('ttf');
	src: url('#{$hpe-fonts-path}/calculator.eot');
	src: local('☺'),
    url('#{$hpe-fonts-path}/calculator.woff') format('woff'), 
    url('#{$hpe-fonts-path}/calculator.ttf') format('truetype'), 
    url('#{$hpe-fonts-path}/calculator.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$text-font-weight: 100;
$text-strong-font-weight: 600;

$button-accent-color: #0098b0;
$control-brand-color: #0098b0;
$border-radius: 0px;
