.dots {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px !important;
}
.dots > li {
  list-style: none;
}
.dots > li > button {
  border: none !important;
  width: auto;
  padding: 5px 10px !important;
  margin-left: 10px;
  margin-top: 10px;
  min-width: auto !important;
  height: auto;
  min-height: auto !important;
  background-color: #B3CA21 !important;
  border-radius: 50% !important;
  box-shadow: 0 0 0 0 !important;
}
.dots > .slick-active > button {
  background-color: #765AEF !important;
}