.tooltip {
  background-color: #765AEF !important;
  max-width: 30%;
  font-size: 15px;
}
.tooltip:after {
  border-right-color: #765AEF !important;
  border-top-style: solid !important;
  border-right-width: 6px !important;
}